modules = ["csharp-8.0"]

[deployment]
build = "dotnet build AirSensorAi -c Release"
run = "dotnet run --project AirSensorAi --configuration Release --urls http://0.0.0.0:$PORT"
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[nix]
channel = "stable-23_11"
